  /*General*/
* {
    margin: 0;
    font-family: "Avenir";
      scroll-behavior: smooth;
  }

  body {
      height: 100%;
      width: 100%;
  }
  
  /*Header*/
  h4 {
    margin-top: 50px;
    font-family: "Helvetica Neue";
    text-align: center;
    letter-spacing: 8px;
    padding: 40px;
    text-decoration: none;
    color: black;
  }
  
  /*Top nav header*/
  .topnav {
    padding: 30px;
  }
  
  .left a {
    color: black;
    float: left;
    text-decoration: none;
    font-size: 18px;
    font-family: "Avenir";
    
  }
  

  .right a {
    color: black;
    float: right;
    text-decoration: none;
    font-size: 18px;
    font-family: "Avenir";
    display: inline-flex;
    justify-content: space-between;
    margin-right: 100px;
  }
  
  .right a:hover {
    color: #80e9d2;
  }

  /*Gallery*/
  .major-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    float: right;
    margin: 30px;
  }

  .gallery {
    margin: 2em;
    border: 1px solid #ccc;
    border-radius: 20px;
    align-items: center;
    transition: all .2s ease-in-out; 
  }
  .gallery img,     
  .gallery-about img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .gallery:hover {
    transform: scale(1.1);
  }
 
  .desc {
    padding: 15px;
    text-align: center;
  }


  /*About section*/
  .gallery-about { /*About Section*/
    margin: 1rem;
    align-items: center;
  }

  .gallery-about img {
    margin-left: 20px;;
  }

  ul{
    list-style: none;
  }

  ul .about-me {
    align-items: center;
    margin: 0.5em;
  }



  .about-me1 {
    padding: 20px;
  }

  .links {
    margin: 23px;
    display: inline;;

  }

  
  .gallery-about2{
    margin: 5em

  }

  ul a {
    text-decoration: none;
    color: black;
  }

  ul a:hover {
    color: #80e9d2;
  }

  .button {
    /*margin: 0.8em;*/
    padding: 0.9em;   
    background-color: white;  
    border: 0.5px solid black;
    border-radius: 25px;
    transition-duration: 0.4s;
    text-align:center;
    display: inline-block;
    margin-left: 30%;
  }

  


/*Footer*/
    footer {
      clear: both;
      margin-top: auto;
      padding-top: 30px;
      position: relative;
  }

  

 
  @media only screen and (max-width: 650px) {
    * body {
      margin: auto;
    }

    .right {
      margin-right: -25px;
    
    }
  
    .major-gallery {
      width: 100%;
      float: left;
      display: grid;
      grid-template-columns: 1fr;
    }
    .gallery-about img {
      margin-left: 0px;;
    }
  }

